.features {
  background-color: $background-features;
  padding-top: 80rem;
  padding-bottom: 67rem;
  min-width: 1380rem;
}

.features__wrappper {
  width: 1193rem;
  margin: 0 auto;
}

.features__title {
  font-weight: 500;
  font-size: 48rem;
  line-height: 80rem;
  color: $text-default;
  text-align: center;
  margin: 0;
  margin-bottom: 71rem;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 195rem;
  min-height: 268rem;
  margin-right: 137rem;
  margin-bottom: 50rem;
}

.features__item:nth-child(4) {
  margin-right: 0;
}

.features__icon {
  width: 195rem;
  height: 200rem;
  margin-bottom: 32rem;
}

.features__text {
  margin: 0;
  text-align: center;
}

@media (max-width: $width-tablet - 1) {
  .features {
    padding-top: 38rem;
    padding-bottom: 44rem;
    min-width: auto;
  }

  .features__wrappper {
    width: 100%;
  }

  .features__title {
    font-weight: 500;
    font-size: 24rem;
    line-height: 30rem;
    color: $text-default;
    margin-bottom: 35rem;
  }

  .features__text {
    font-weight: 500;
    font-size: 18rem;
    line-height: 18rem;
    margin-bottom: 43rem;
  }

  .features__list.slick-dotted.slick-slider {
    margin: 0;
  }

  .features__item {
    margin: 0;
  }

  .features .slick-dots li button {
    background: $background-dot;
  }
}
