.goods {
  margin-bottom: 80rem;
}

.goods__title {
  margin: 0;
  margin-top: 55rem;
  margin-bottom: 65rem;
  font-weight: 500;
  font-size: 48rem;
  line-height: 80rem;
  color: $text-default;
  text-align: center;
}

.goods__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35rem;
}

.goods__item {
  margin-right: 30rem;
  margin-bottom: 30rem;
}

.goods__item:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: $width-tablet - 1) {
  .goods {
    margin-bottom: 47rem;
  }

  .goods__title {
    font-weight: 500;
    font-size: 24rem;
    line-height: 30rem;
    color: $text-default;
    margin: 0;
    margin-bottom: 41rem;
  }

  .goods__item {
    margin-right: 0;
    width: 100%;
  }

  .goods--product {
    margin-bottom: 35rem;
  }

  .goods--product .goods__item:last-child {
    margin-bottom: 0;
  }

  .goods--product .goods__list {
    margin-bottom: 35rem;
  }
}
