@media (max-width: $width-tablet - 1) {
  .menu {
    width: 270rem;
    height: 100%;
    background-color: $background-default;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 4;
  }

  .menu__logo-wrapper {
    padding: 50rem 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu__logo {
    width: 189rem;
    height: 50rem;
  }

  .menu__logo .logo__image {
    width: 100%;
    height: 100%;
  }

  .menu__navigation .navigation__list {
    flex-direction: column;
  }

  .menu__navigation .navigation__item {
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
  }

  .menu__navigation .navigation__link {
    width: 100%;
    justify-content: flex-start;
  }

  .menu__navigation .navigation__icon {
    margin-left: auto;
  }
}
