.navigation {
  max-width: 900rem;
}

.navigation__list {
  @include list-reset();
  display: flex;
}

.navigation__item {
  font-family: $font-default;
  font-weight: 400;
  font-size: 16rem;
  line-height: 15rem;
  height: 49rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__item:hover,
.navigation__item:focus {
  background: $button-default;
}

.navigation__item:active {
  background: $button-default--active;
}

.navigation__item:hover .navigation__link,
.navigation__item:hover .navigation__link {
  color: $text-additional;
}

.navigation__item:hover .navigation__icon rect,
.navigation__item:focus .navigation__icon rect {
  fill: $background-default;
}

.navigation__item--active {
  background: $button-default;
}

.navigation__item--active .navigation__link {
  color: $text-additional;
}

.navigation__item--active .navigation__icon rect {
  fill: $background-default;
}

.navigation__item--toggle:hover .navigation__icon,
.navigation__item--toggle:focus .navigation__icon {
  transform: rotate(180deg);
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 17rem 20rem;
  color: $text-default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__icon {
  margin-left: 8rem;
  margin-bottom: 4rem;
}

.navigation__item--toggle {
  position: relative;
}

.navigation__list--inner {
  position: absolute;
  top: 49px;
  flex-direction: column;
  background-color: $background-default;
  align-items: flex-start;
  width: max-content;
  z-index: 1;
  left: 0;
  display: none;
  border-left: 1rem solid $border-navigation;
  border-right: 1rem solid $border-navigation;
}

.navigation__list--inner .navigation__item .navigation__link,
.navigation__list--inner .navigation__item .navigation__link {
  color: $text-default;
}

.navigation__list--inner .navigation__item:first-child {
  border-top: 1rem solid $border-navigation;
}

.navigation__list--inner .navigation__item {
  border-bottom: 1rem solid $border-navigation;
  width: 100%;
  display: flex;
}

.navigation__list--inner .navigation__item:hover,
.navigation__list--inner .navigation__item:focus {
  background-color: $background-navigation--hover;
}

.navigation__list--inner .navigation__item:active {
  background-color: $background-navigation--active;
}

.navigation__list--inner .navigation__item:hover .navigation__link,
.navigation__list--inner .navigation__item:focus .navigation__link {
  color: $text-default;
}

.navigation__list--inner .navigation__link {
  width: 100%;
  justify-content: flex-start;
}

.navigation__item--toggle:hover .navigation__list--inner {
  display: block;
}

.navigation__item--toggle:hover,
.navigation__item--toggle:focus {
  background: $button-default;
}

.navigation__item--toggle:active {
  background: $button-default;
}

.navigation__item--toggle:hover .navigation__list--inner,
.navigation__item--toggle:focus .navigation__list--inner {
  display: flex;
}

@media (max-width: $width-tablet) {
  .navigation__list--inner {
    width: 100%;
  }

  .navigation__link {
    font-size: 14rem;
    line-height: 24rem;
    padding: 12rem 17rem;
  }

  .navigation__list--inner {
    position: unset;
  }

  .navigation__list--inner .navigation__item {
    background: $background-navigation;
  }

  .navigation .navigation__item--toggle-active .navigation__icon {
    transform: rotate(0);
  }
}
