.product {
  width: 413rem;
  max-height: 521rem;
  background: $background-default;
  border: 1rem solid $border-product;
  border-radius: 4rem;
}

.product--detail {
  max-height: unset;
}

.product__header {
  width: 411rem;
  height: 260rem;
  position: relative;
  display: flex;
}

.product__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__installation {
  width: 246rem;
  height: 40rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: $background-installation, $alpha: 0.9);
  margin: 0;
  color: $text-additional;
  text-transform: uppercase;
  padding: 10rem 20rem;
  font-weight: 500;
}

.product__info {
  padding: 30rem 31rem 39rem 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__category {
  font-size: 14rem;
  line-height: 13rem;
  color: $text-category;
  margin-bottom: 6rem;
}

.product__name {
  font-weight: 500;
  font-size: 21rem;
  line-height: 23rem;
  color: $text-default;
  margin: 0;
  margin-bottom: 30rem;
  text-align: center;
}

.product--detail .product__name {
  min-height: 46rem;
}

.product__cost {
  font-weight: 400;
  font-size: 24rem;
  line-height: 23rem;
  color: $text-cost;
  margin: 0;
  margin-bottom: 36rem;
}

.product__description {
  font-weight: 400;
  font-size: 16rem;
  line-height: 20rem;
  margin: 0;
  height: 146rem;
  min-height: 146rem;
  margin-bottom: 20rem;
  overflow: hidden;
  position: relative;
}

.product__description-item {
  margin: 0;
  margin-bottom: 20rem;
}

.product__filter {
  background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product__more {
  font-weight: 500;
  font-size: 14rem;
  line-height: 30rem;
  color: $text-product;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 118rem;
  height: 30rem;
  margin-right: auto;
  margin-bottom: 20rem;
}

.product__icon {
  margin-left: 7rem;
}

.product__specifications {
  margin: 0;
  margin-bottom: 30rem;
  font-weight: 500;
  font-size: 18rem;
  line-height: 24rem;
  text-align: center;
  color: $text-default;
}

.product__filter {
  display: none;
}

.product__more {
  display: none;
}

.product--detail .product__filter {
  display: flex;
}

.product--detail .product__more {
  display: flex;
}

@media (max-width: $width-tablet - 1) {
  .product {
    width: 100%;
  }

  .product__header {
    width: 100%;
    height: 176rem;
  }

  .product__info {
    padding: 18rem 15rem;
  }

  .product__category {
    font-weight: 400;
    font-size: 12rem;
    line-height: 11rem;
    color: $text-category;
    margin-bottom: 8rem;
  }

  .product__installation {
    width: 180rem;
    height: 26rem;
    font-weight: 500;
    font-size: 12rem;
    line-height: 11rem;
    text-align: center;
    padding: 5rem;
  }

  .product__name {
    font-weight: 500;
    font-size: 18rem;
    line-height: 17rem;
    margin-bottom: 24rem;
  }

  .product__cost {
    font-weight: 400;
    font-size: 24rem;
    line-height: 23rem;
    margin-bottom: 24rem;
  }

  .product__order.button {
    min-height: unset;
    height: 50rem;
  }

  .product__more {
    width: 100%;
    height: 42rem;
    background: $background-default;
    border: 1rem solid $border-product;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    text-transform: uppercase;
  }

  .product__more-icon {
    width: 14rem;
    height: 8rem;
    margin-left: 5rem;
  }

  .product__filter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .product__description {
    min-height: unset;
  }

  .product__filter {
    display: flex;
  }

  .product__more {
    display: flex;
    width: auto;
  }

  .product--detail .product__more {
    width: 100%;
  }
}
