.promo {
  background: $background-promo;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 870rem;
  min-width: 1380rem;
}

.promo--jalousie {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--curtains {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/curtains-background.jpg");
}

.promo--shutters {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--gates {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--automation {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--windows {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--aluminum {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--video {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--product {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo--reviews {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%), url("../img/jalousie-background.jpg");
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
}

.promo__title {
  width: 705rem;
  height: 240rem;
  margin: 0;
  font-family: $font-default;
  font-weight: 400;
  font-size: 64rem;
  line-height: 80rem;
  color: $text-additional;
  margin-top: 315rem;
}

.promo__modal {
  margin-top: 165rem;
}

@media (max-width: $width-tablet) {
  .promo {
    min-width: auto;
    min-height: auto;
    padding-top: 156rem;
    padding-bottom: 54rem;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .promo__wrapper {
    flex-direction: column;
  }

  .promo__modal {
    display: none;
  }

  .promo__title {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 28rem;
    line-height: 36rem;
    text-align: center;
    color: $text-additional;
    margin-top: 0;
    margin-bottom: 150rem;
  }
}
