.slider__item.slick-slide {
  display: flex;
}

.slider__image {
  max-width: 524rem;
  min-width: 524rem;
  height: 524rem;
  margin-right: 30rem;
}

.slider__info {}

.slider__title {
  font-weight: 500;
  font-size: 36rem;
  line-height: 34rem;
  color: $text-default;
  margin: 0;
  margin-bottom: 33rem;
}

.slider__list {
  @include list-reset;
}

.slider__info-list {
  @include list-reset;
}

.slider__info-item {}

.slider__item-list {
  margin: 0;
  margin-bottom: 20rem;
}

.slider__item-title {
  font-weight: 500;
  font-size: 16rem;
  line-height: 20rem;
  color: $text-default;
  margin: 0;
  margin-bottom: 20rem;
}

.slider__item-title--normal {
  font-weight: 400;
}

.slider__item-text {
  font-weight: 400;
  font-size: 16rem;
  line-height: 20rem;
  color: $text-default;
  margin: 0;
}

.slider__item-link {
  width: 351rem;
  margin-top: 62rem;
}

.slider__item-text-list {
  @include list-reset;
  margin-bottom: 20rem;
}

.slider__item-text-item::before {
  content: "-";
  margin-right: 6rem;
}

.slider__item-text-description {
  font-weight: 400;
  font-size: 16rem;
  line-height: 20rem;
  color: $text-default;
  margin: 0;
  margin-bottom: 20rem;
}

.slider__item-text-descriptio:last-child {
  margin-bottom: 0;
}

.slider__controls {
  @include list-reset;
  width: auto;
  display: flex;
  justify-content: center;
}

.slider__controls-prev {
  width: 70rem;
  height: 60rem;
  border-radius: 4rem 0 0 4rem;
  border: 1rem solid $border-controls;
  border-right: 1rem solid $border-controls;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  cursor: pointer;
}

.slider__controls-prev:hover,
.slider__controls-prev:focus {
  background-color: $background-controls;
}

.slider__controls-next {
  width: 70rem;
  height: 60rem;
  border-radius: 4rem 0 0 4rem;
  border: 1rem solid $border-controls;
  border-right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  background-color: none;
  cursor: pointer;
}

.slider__controls-next:hover,
.slider__controls-next:focus {
  background-color: $background-controls;
}

@media (max-width: $width-tablet) {
  .slider {}

  .slider__image {
    margin-right: 0;
    max-width: unset;
    min-width: unset;
    width: 100%;
    height: auto;
    margin-bottom: 25rem;
  }

  .slider__list {
    margin-top: 47rem;
  }

  .slider__item {
    flex-direction: column;
    margin-bottom: 35rem;
  }

  .slider__title {
    font-weight: 500;
    font-size: 24rem;
    line-height: 23rem;
    text-align: center;
    margin-bottom: 25rem;
  }

  .slider__controls {
    display: none;
  }

  .slider__info {
    height: 320rem;
    overflow: hidden;
    position: relative;
  }

  .product__filter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #ffffff 0%, transparent 100%);
  }
}
