.stages {
  padding-top: 80rem;
  padding-bottom: 30rem;
}

.stages__wrapper {
  width: 868rem;
  margin: 0 auto;
}

.stages__title {
  font-weight: 500;
  font-size: 48rem;
  line-height: 80rem;
  color: $text-default;
  text-align: center;
  margin: 0;
  margin-bottom: 66rem;
}

.stages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.stages__item {
  width: 224rem;
  min-height: 285rem;
  margin-right: 98rem;
  margin-bottom: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stages__item:nth-child(3n) {
  margin-right: 0;
}

.stages__icon {
  margin-bottom: 35rem;
  width: 191rem;
  height: 191rem;
}

.stages__text {
  font-weight: 500;
  font-size: 16rem;
  line-height: 20rem;
  text-align: center;
  color: $text-default;
  margin: 0;
}

.stages__info {
  font-weight: 400;
  font-size: 16rem;
  line-height: 20rem;
  text-align: center;
  color: $text-default;
  margin: 0;
}

@media (max-width: $width-tablet - 1) {
  .stages {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 35rem;
    margin-bottom: 35rem;
  }

  .stages__title {
    font-weight: 500;
    font-size: 24rem;
    line-height: 30rem;
    margin-bottom: 44rem;
  }

  .stages__wrapper {
    width: 100%;
  }

  .stages__item {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    width: 100%;
    min-height: unset;
    margin-bottom: 39rem;
  }

  .stages__item:last-child {
    margin-bottom: 0;
  }

  .stages__icon {
    min-width: 30rem;
    width: 30rem;
    height: 30rem;
    margin-right: 24rem;
  }

  .stages__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .stages__info {
    text-align: left;
  }
}
