body .slick-initialized .slick-slide {
  display: flex;
}

@media (max-width: $width-tablet - 1) {
  body .slick-dots {
    position: unset;
    display: block;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  body .slick-dots li button {
    border-radius: 50%;
    background-color: #f2f2f2;
    width: 20rem;
    height: 20rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body .slick-dots li button::before {
    font-size: 16rem;
    line-height: 22rem;
    opacity: 0;
    color: transparent;
    width: 20rem;
    height: 20rem;
    position: unset;
    line-height: 1.4;
  }

  body .slick-dots li.slick-active button::before {
    font-size: 16rem;
    line-height: 22rem;
    opacity: 1;
    color: #ad2320;
    position: unset;
    line-height: 1.4;
  }

  body .slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body .slider__item .slick-slide {
    display: flex;
  }

  body .slick-dots li {
    width: 20rem;
    height: 20rem;
    margin: 5rem;
  }
}
