// Fonts
$font-default: "Gotham Pro", "Arial", sans-serif;

// Colors: Text colors
$text-default: #353533;
$text-additional: #ffffff;
$text-link: #5a9cff;
$text-category: #7d7d7d;
$text-cost: #ad2320;
$text-position: #7d7d7d;
$text-reviews: #999999;
$text-product: #999999;
$text-pagination: #999999;
$text-breadcrumbs: #7d7d7d;
$text-copyright: #afafaf;
$text-assortment: #ad2320;

// Colors: Buttons colors
$button-default: #ad2320;
$button-default--hover: #9b1f1c;
$button-default--active: #8a1c19;
$background-close--hover: #ff8f8f;

// Colors: Backgrounds colors
$background-default: #ffffff;
$background-installation: #6d6d6d;
$background-controls: #f2f2f2;
$background-features: #f2f2f2;
$background-call: #e8dfdf;
$background-image: #c4c4c4;
$background-video: #353533;
$background-reviews--hover: #f2f2f2;
$background-reviews--active: #d9d9d9;
$background-footer: #615353;
$background-navigation--hover: #e2e2e2;
$background-navigation--active: #d9d9d9;
$background-promo: #353533;
$border-assortment--hover: #e2e2e2;
$border-assortment--active: #d9d9d9;
$background-pagination: #f2f2f2;
$background-pagination--hover: #f2f2f2;
$background-pagination--active: #d9d9d9;
$background-shadow: #000000;
$background-dot: #dcdcdc;
$background-map: #f3f2eb;
$background-navigation: #f2f2f2;
$background-assortment: #f2f2f2;

// Colors: Border color
$border-default: #000000;
$border-product: #e2e2e2;
$border-controls: #e2e2e2;
$border-reviews: #cfcfcf;
$border-header: #e2e2e2;
$border-navigation: #e2e2e2;
$border-assortment: #e2e2e2;
$border-pagination: #cfcfcf;
$border-product: #cfcfcf;
$border-assortment: #cfcfcf;

// Media width
$width-desktop: 1380px;
$width-tablet: 768px;
$width-mobile: 320px;

// Device resolution
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
